### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
count = sum(purchase_data["SN"].value_counts())
count = purchase_data["SN"].value_counts()
#count3 = (purchase_data["SN"].value_counts()).nunique
#count4 = count(purchase_data["SN"].value_counts())
#count = purchase_data["SN"].nunique
total_users = pd.DataFrame(count)
#total = sum(count)
#print (count)
#print (sum)

#players = purchase_data["SN"].unique()
#players
#count = (players)
#count = players().value.count

#count_df
total_rows = total_users.count()
print("total players")
print(int(total_rows))
count.describe

total players
576

<bound method NDFrame.describe of Lisosia93        5
Idastidru52      4
Iral74           4
Hiaral50         3
Chanastnya43     3
                ..
Heudai45         1
Tyananurgue44    1
Iskossasda43     1
Chanastsda67     1
Chanilsast61     1
Name: SN, Length: 576, dtype: int64>

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_data.head()
#Item_ID_df = purchase_data["Item ID"].value.count()
drop_df = purchase_data.drop_duplicates(subset = ["Item ID"])
drop_df.head()


uitems = len(drop_df.index)
#print(uitems)
#print("this is the number of uitems")
#unique_items = drop_df["Items ID"].count()
#total = unique_items.count()
#print(unique_items)

#uitems_count = (len(unique_items))
#print(uitems_count)
#print("this is unique items count- which is wrong")
#print(Count(Unique_items))

#drop_df.describe() count is correct
#drop_df = drop_df.set_index(["Item ID"])
#              drop_df = drop_df.sort_values(by = ["Item ID"])
#               drop_df


unique_items = drop_df.shape[0]
print(unique_items)

total_rev = purchase_data["Price"].sum()
print (total_rev)

total_purch = purchase_data["Purchase ID"].count()
print (total_purch)

avg  = purchase_data["Price"].mean()
print(avg)
#drop_df = drop_df.sort_values(by = ["Item ID"])
#drop_df.head
purchase_data.head()

179
2379.77
780
3.050987179487176

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#males = purchd
#males  = (purchase_data["Gender"] == "Male")
#males = len(purchase_data["Gender"] == "Male")
#males = (purchase_data["Gender"] == "Male").sum()
#males = (purchase_data["Gender"]).value_counts().male
#males = (purchase_data.["Gender"]=="Male").counts()

drop_name_df = purchase_data.drop_duplicates(subset = ["SN"])

males = (drop_name_df["Gender"].value_counts().Male)


print (males)

females = (drop_name_df["Gender"].value_counts().Female)

print (females)

others = len(drop_name_df.loc[drop_name_df["Gender"] == "Other / Non-Disclosed",:])


print (others)

test = (drop_name_df["Gender"].value_counts(normalize=True))

test


new = purchase_data.loc[purchase_data["Gender"]=="Male",:].sum()


new

percentmales = (males/(males+females+others))*100
print(percentmales)
print("this is percent males")


percentfemales = (females/(males+females+others))*100
print(percentfemales)
print("this is percent females")

percentothers = (females/(males+females+others))*100
print(percentothers)
print("this is percent others")

drop_name_df

484
81
11
84.02777777777779
this is percent males
14.0625
this is percent females
14.0625
this is percent others

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#reset index using gender


#drop_name_df.set_index("Gender")
#drop_name_df

male_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]


malepc = male_df.shape[0]
print(malepc)
print("this is male purchase count")

maleapp = male_df["Price"].mean()
print(maleapp)
print("this is male avg purchase price")

maletpv = male_df["Price"].sum()
print(maletpv)
print("this is male total purchase value")

maleatppp = maletpv/males
print(maleatppp)
print("this is male average total purchase per person")


female_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]


femalepc = female_df.shape[0]
print(femalepc)
print("this is female purchase count")

femaleapp = female_df["Price"].mean()
print(femaleapp)
print("this is female avg purchase price")

femaletpv = female_df["Price"].sum()
print(femaletpv)
print("this is female total purchase value")

femaleatppp = femaletpv/males
print(femaleatppp)
print("this is female average total purchase per person")



other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]


otherpc = other_df.shape[0]
print(otherpc)
print("this is other purchase count")

otherapp = other_df["Price"].mean()
print(otherapp)
print("this is other avg purchase price")

othertpv = other_df["Price"].sum()
print(othertpv)
print("this is other total purchase value")

otheratppp = othertpv/others
print(otheratppp)
print("this is other average total purchase per person")

652
this is male purchase count
3.0178527607361953
this is male avg purchase price
1967.64
this is male total purchase value
4.065371900826446
this is male average total purchase per person
113
this is female purchase count
3.203008849557519
this is female avg purchase price
361.94
this is female total purchase value
0.747809917355372
this is female average total purchase per person
15
this is other purchase count
3.3460000000000005
this is other avg purchase price
50.19
this is other total purchase value
4.5627272727272725
this is other average total purchase per person

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame